* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 330px;
   text-align: center;

}
.qrcode{
    background-color: #fff;
    border-radius: 15px;
    padding: 13px;

}
.qrcode img{
    width: 100%;
    border-radius: 15px;
}
h1{
  
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    padding: 15px;
}
p{

    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding-bottom: 15px;


}